 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     display: block;
     justify-content: center;
     color: white;
 }


 .preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #000;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 9999;
  }

  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }

  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    margin-left: -80px;
    animation: preloader-bounce 1s infinite ease-in-out;
  }

  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }

  @keyframes preloader-bounce {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1);
    }
  }

  .loaded_hiding .preloader {
    transition: 2.3s opacity;
    opacity: 0;
  }

  .loaded .preloader {
    display: none;
  }
 

 .logo {
    position: absolute;
     width: 100%;
     display: flex;
     justify-content: space-between;
     position: fixed;
     padding: 20px 40px 1px 40px;
 }
 
 .home {
     width: 100%;
     position: absolute;
     font-size: 21px;
     font-family: 'prompt-500'; 
     top: 0px;
     left: 0px;
     display: flex;
     justify-content: space-around;
     /* padding: 10px; */
     align-items: center;
     color: white;
     padding-left: 50px;
     z-index: 222;
 }

 .home > p:first-child{
     cursor: pointer;
 }

 .portfolio{
     font-size: 50px;
     font-family: 'prompt-200';
 }
/* 
 s{
     font-size: 10px;
 } */
 
 .navigation {
     width: 240px;
     display: flex;
     justify-content: space-around;
 }
 
 .social {
     cursor: pointer;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     background-size: 30px 30px;
 }

 .instagram{
     background-image: url(Photo/contacts/inst.png);
 }

 .gmail{
     background-image: url(Photo/contacts/mail.png);
 }
 
 #about-me {
     margin-left: 30px;
 }
 
 #me {
     font-size: 65px;
     font-family: 'prompt-500';
 }
 
 #about {
     font-size: 40px;
     font-family: 'prompt-100';
 }

 #right-animate{
     position: absolute;
     z-index: 222;
     left: 67%;
    width: 500px;
    height: 600px;
    /* background-color: chartreuse; */
}

 .about{
     width: 100%;
     position: absolute;
     display: flex;
     justify-content: left;
     z-index: 222;
     top: 300px;
     align-items: center;
 }

 .learn-more-about-me{
     width: 400px;
     height: 200px;
     padding: 20px 40px;
     font-size: 20px;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.3);
     margin-left: 3px;
     margin-top: 105px;
     font-family: 'prompt-200';
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .learn-more-button{
     width: 150px;
     height: 60px;
     border: 1px solid #000;
     background-color: blue;
     padding-top: 12px;
     margin-top: 20px;
     margin-left: auto;
     cursor: pointer;
 }

 a{
     text-decoration: none;
 }

 .learn-more-button:hover{
    background-color: rgb(15, 71, 192);
    font-size: 21px;
    border-radius: 5%;
 }
 
 .back {
     /* position: absolute; */
     top: 270px;
     width: 900px;
     display: flex;
     background-color: rgba(0, 0, 0, 0.3);
     padding: 50px;
     align-items: center;
     z-index: 222;
 }

 .its-me{
     width: 220px;
     height: 220px;
     border: 1px solid #000;
     border-radius: 50%;
     background-image: url(Photo/me/photo_2020-12-30_21-14-10.jpg);
     background-size: 220px 290px;
 }
 
 .column {
     width: 30px;
     height: 350px;
     background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 .meeeee{
     width: 220px;
     height: 220px;
     background-color: rgb(0, 0, 0);
     opacity: 0;
     text-align: center;
     padding-top: 100px;
     border-radius: 50%;
     color: black;
     font-family: 'prompt-200';
     font-size: 35px;
     cursor: pointer;
 }

 .meeeee:hover{
     opacity: 0.5;
 }

 .scroll-down{
     width: 300px;
     height: 30px;
     position: absolute;
     top: 430px;
     left: 44%;
     z-index: 2222;
     display: flex;
     align-items: center;
     font-family: 'prompt-100';
     font-size: 18px;
     transform: rotate(90deg);
     cursor: pointer;
 }

 .scroll-down:hover{
     font-size: 20px;
 }

 .milestones-achieved{
    width: 100%;
    height: 470px;
    background-image: url(Photo/Achiviments/Background.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 940px;
    position: absolute;
    z-index: 222;
    top: 940px;
    display: none;
    
}

.shadow{
    width: 100%;
    height: 350px;
    margin-top: 50px;
    background-color: rgba(66, 66, 66, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .line-one{
     width: 180px;
     height: 1px;
     background-color: white;
     margin-left: 10px;
 }

 .title{
     font-family: 'prompt-200';
     font-size: 53px;
 }

 .achiviments{
     width: 80%;
     height: 280px;
    display: flex;
    justify-content: space-around;

 }

 .achive{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-family: 'prompt-200';
     font-size: 20px;
 }

 .records{
     font-size: 30px;
     /* color: black; */
     font-family: 'prompt-500';
 }

 .footer{
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, #000d1d, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    top: 1410px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.footer-menu{
    width: 70%;
    height: 70px;
    padding: 10px;
}

.footer-menu>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-menu ul > li > a{
    width: 180px;
    list-style: none;
    text-decoration: none;
    font-family: 'prompt-200';
    font-size: 30px;
    overflow: hidden;
}

.footer-menu ul > li > a:hover{
    text-decoration: line-through;
}

@keyframes strike{
    from{text-decoration: none;}
    to{text-decoration: line-through;}
}
.strike:hover{  
animation-name: strike;
animation-duration: 0.3s;
animation-timing-function: ease;   
}

.footer>p{
    margin-top: 190px;
    font-family: 'prompt-200';
}

.powered-by{
    width: 100%;
    /* height: 50px; */
    font-family: 'prompt-200';
    font-size: 19px;
    display: flex;
    margin-top: 230px;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(115, 115, 117);
}

/* hr{
    transform: rotate(90deg);
} */

.hr{
    width: 30%;
    height: 1px;
    background-color: rgb(88, 88, 88);
}

.arrow-up{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 2222;
    background-color: rgb(255, 255, 255);
    bottom: 50px;
    right: 50px;
    text-align: center;
    cursor: pointer;
    font-family: 'prompt-200';
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
html{width: 100%;
  height: 100%;
}
body{margin: 0px;
  padding: 0px;
}

.eye{
  width: 20px; height: 8px;
  background-color: rgba(240,220,220,1);
  border-radius:0px 0px 20px 20px;
  position: relative;
  left: 10px; top: 40px;
  box-shadow:  40px 0px 0px 0px rgba(240,220,220,1);              
}

.head{
  -webkit-backface-visibility: hidden;
  position: relative;
  margin: -250px auto;
  width: 80px; height: 80px;
  background-color: #000;
  border-radius:50px;
  box-shadow: inset -4px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:headAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.body{ 
  position: relative;
  margin: 90px auto;
  width: 140px; height: 120px;
  background-color: #000;
  border-radius: 50px/25px ;
  box-shadow: inset -5px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;  
}

  @-webkit-keyframes headAnim{
         0%{ top:0px; }
         50%{ top:10px; }
         100% { top:0px;} 
  }

  @-webkit-keyframes bodyAnim{
         0%{ top:-5px; }
         50%{ top:10px; }
         100% { top:-5px;} 
  }

.circ{
  -webkit-backface-visibility: hidden;
  margin: 60px auto;
  width: 180px; height: 180px;
  background-color: #000;
  border-radius: 0px 0px 50px 50px;
  position: relative;
  z-index: -1;  
  left: 0%; top: 20%;
  overflow: hidden;
}

.hands{
  -webkit-backface-visibility: hidden;
  margin-top: 140px;
  width: 120px;height: 120px;
  position: absolute;
  background-color: #000;
  border-radius:20px;
  box-shadow:-1px -4px 0px 0px rgba(240,220,220,1);
  -webkit-transform:rotate(45deg);
  top:75%;left: 16%;
  z-index: 1;
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.load{  
  position: absolute;
  width: 7ch; height: 32px;
  text-align: left;
  line-height: 32px;
  margin: -10px auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Julius Sans One', sans-serif;
  font-size:28px;
  font-weight:400;
  color:rgba(240,220,220,1);
  left: 2%; top: 5%;
  word-wrap: break-word;
  display:block;
  overflow: hidden;
}

  @-webkit-keyframes fontAnim{
        0%{ width:7ch; }
       16%{ width:8ch; }
       32%{ width:9ch; }
       48%{ width:10ch; }
       64%{ width:11ch; }
       80%{ width:12ch; }
     100% { width:13ch;} 
  }
