.big-title{
    display: flex;
    font-family: 'prompt-400';
    font-size: 55px;
    position: absolute;
    top: 170px;
    left: 40%;
}

.about-me-block{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 350px;
    z-index: 22;
}

.who-i-am{
    font-family: 'prompt-300';
    font-size: 40px;
}


.about-me-text>p:first-child{
    font-family: 'prompt-500';
    font-size: 35px;
}

.about-me-text{
    width: 500px;
    font-family: 'prompt-200';
    font-size: 26px ;
}

.image-one{
    width: 100%;
    position: absolute;
    top: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-one>p{
    width: 30%;
    font-family: 'prompt-200';
    font-size: 25px;
    margin-right: 50px;
}

.skills{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle{
    font-family: 'prompt-500';
    font-size: 50px;
}

.skills-level{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: 200px;
}

.lang{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-up{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 2222;
    background-color: rgb(255, 255, 255);
    bottom: 50px;
    right: 50px;
    text-align: center;
    cursor: pointer;
    font-family: 'prompt-200';
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.footer{
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000d1d, #000000); 
    position: absolute;
    top: 1810px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    font-family: 'prompt-200';
    font-size: 19px;
    color: rgb(115, 115, 117);
}

