@media all and (max-width: 1200px) and (min-width: 700px){

    *{
        font-size: 23px;
    }

    .image-one{
        flex-direction: column;
        margin-top: 50px;
    }

    .image-one>p{
        width: 66%;
        margin-bottom: 50px;
    }

    .skills{
        top: 1450px;
    }

    .footer{
       display: none;
    }

    .arrow-up{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 5%;
        border-radius: 0;
        display: flex;
    }

    .project-one{
        height: 200px;
    }
}

@media all and (max-width: 699px) and (min-width: 300px){

    *{
        font-size: 17px;
    }

    .header-menu>a{
        font-size: 17px;
    }

    .about-teext{
        top: 350px;
        flex-direction: column;
    }

    .image-one{
        flex-direction: column;
        margin-top: -150px;
    }

    .image-one > img{
        margin-top: 50px;
    }

    .image-one>p{
        font-size: 17px;
        width: 80%;
    }

    .about-teext{
        width: 100%;
        top: 200px;
        padding-left: 50px;
    }

    .skills{
        top: 1650px;
    }

    .skills-level{
        flex-direction: column;
        height: 1100px;
    }

    
    .footer{
       display: none;
    }

    .arrow-up{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 5%;
        border-radius: 0;
        display: flex;
    }
}

@media all and (max-width: 1290px) and (min-width: 1000px){
    .soc{
        font-size: 18px;
    }

    .tit{
        font-size: 30px;
    }
}

@media all and (max-width: 999px) and (min-width: 300px){
    .tit{
        font-size: 26px;
    }

    .contacts-with-me{
        flex-direction: column;
        top: 500px;
    }

    .block-soc:last-child{
        margin-left: 0;
    }

    
    .footer{
       display: none;
    }
}
