.title{
    display: flex;
    font-family: 'prompt-400';
    font-size: 55px;
    position: absolute;
    top: 170px;
    left: 40%;
}

.container{
    position: absolute;
    top: 270px;
    left: 12%;
    z-index: 1;
    border-radius: 60px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.shadow{
    width: 80%;
    height: 700px;
    position: absolute;
    top: 0;
    cursor: pointer;
    border-radius: 60px;
}

.shadow:hover{
    background-color: rgba(0, 0, 0, 0.4);
}