/* _______________________________________________________________ FONTS _______________________________________________________________ */

@font-face {
    font-family: 'prompt-100';
    src: url(Prompt/Prompt-100.ttf);
}

@font-face {
    font-family: 'prompt-200';
    src: url(Prompt/Prompt-200.ttf);
}

@font-face {
    font-family: 'prompt-300';
    src: url(Prompt/Prompt-300.ttf);
}

@font-face {
    font-family: 'prompt-400';
    src: url(Prompt/Prompt-400.ttf);
}

@font-face {
    font-family: 'prompt-500';
    src: url(Prompt/Prompt-500.ttf);
}

@font-face {
    font-family: 'prompt-600';
    src: url(Prompt/Prompt-600.ttf);
}

@font-face {
    font-family: 'prompt-700';
    src: url(Prompt/Prompt-700.ttf);
}

@font-face {
    font-family: 'prompt-800';
    src: url(Prompt/Prompt-800.ttf);
}

@font-face {
    font-family: 'prompt-900';
    src: url(Prompt/Prompt-900.ttf);
}